
.config/zsh/plugins/*
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.config/nvim/*
.config/ranger/*
.config/zsh/*
.cache/Homebrew/*
.cache/appstream/en_US-local-metainfo.xb
.cache/chromium/*
.config/chromium/*
.cache/discover/*
.cache/event-sound-cache.tdb.46162abaf1524d4094eb9f2a04e2e733.x86_64-pc-linux-gnu
.cache/fontconfig/*
.cache/icon-cache.kcache
.cache/kio_http/*
.cache/kitty/main.json
.cache/krunner/*
.cache/kscreenlocker_greet/*
.cache/ksmserver-logout-greeter/*
.cache/ksplash/*
.cache/ksycoca5_en_yIMF65Yz04TyU3FDr8n3pEYDc+E=
.cache/kwin/*
.cache/lvim/*
.cache/mesa_shader_cache/*
.cache/mozilla/firefox/*
.cache/nvidia/GLCache/*
.cache/nvim/packer.nvim.log
.cache/pip/*
.cache/plasma-svgelements
.cache/plasma_theme_Stone_v.0.2.kcache
.cache/plasmashell/*
.cache/qtshadercache-*
.cache/samba/gencache.tdb
.cache/thumbnails/*
.cargo/*
.cfg/*
.gnome/*
.mozilla/*
.npm/*
.pki/*
.rustup/*
.ssh/*
.vim/*
.viminfo
Desktop/*
Documents/*
Music/*
Pictures/*
Public/*
Templates/*
Videos/*
repos/*
.local/share/lunarvim/*
.local/share/nvim/*
# .local/share/*
.profile
.zsh_history
.zprofile
.local/lib/*
.gitconfig
.config/discord/*
.config/dconf/user
.config/dolphinrc
config/emaildefaults
.config/gwenviewrc
.config/htop/*
.config/kactivitymanagerd-statsrc
config/kactivitymanagerdrc
.config/katemetainfos
.gitconfig.gpg
.local/bin/*
Downloads/FiraCodeWindows/*
Downloads/KvGlass/*
.local/state/*
.config/KDE/UserFeedback.conf
.config/PlasmaDiscoverUpdates
.config/QtProject.conf
.config/Trolltech.conf
.config/akregatorrc
.config/arkrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/emaildefaults
.config/kactivitymanagerdrc
.config/katerc
.config/kateschemarc
.config/katevirc
.config/kcminputrc
.config/kconf_updaterc
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kfontinstuirc
.config/kfontviewrc
.config/kgammarc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/kmixctrlrc
.config/kmixrc
.config/knfsshare
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrulesrc
.config/kxkbrc
.config/libaccounts-glib/accounts.db
.config/libaccounts-glib/accounts.db-shm
.config/libaccounts-glib/accounts.db-wal
.config/lvim
.config/menus/applications-merged/xdg-desktop-menu-dummy.menu
.config/nvim
.config/okularpartrc
.config/pikaur.conf
.config/plasmanotifyrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/print-manager
.config/pulse/cookie
.config/ranger
.config/session/dolphin_dolphin_dolphin
.config/spectaclerc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/zsh
.local/include/python3.10/greenlet/greenlet.h
.local/share/RecentDocuments/FiraCode.zip.desktop
.local/share/RecentDocuments/FiraCode.zip[2].desktop
".local/share/RecentDocuments/Hoth Landscape Stormy Atmosphere of Merphlyn.jpg.desktop"
.local/share/RecentDocuments/handoff.desktop
.local/share/applications/defaults.list
.local/share/applications/lvim.desktop
.local/share/ark/ark_recentfiles
.local/share/baloo/index
.local/share/baloo/index-lock
.local/share/dolphin/dolphinstaterc
.local/share/dolphin/view_properties/global/.directory
.local/share/flatpak/.changed
.local/share/flatpak/repo/config
.local/share/gvfs-metadata/home
.local/share/gvfs-metadata/home-445f7e01.log
.local/share/kactivitymanagerd/resources/database
.local/share/kactivitymanagerd/resources/database-shm
.local/share/kactivitymanagerd/resources/database-wal
.local/share/kactivitymanagerd/resources/errors.log
.local/share/kactivitymanagerd/resources/test-backup/database
.local/share/kactivitymanagerd/resources/test-backup/database-shm
.local/share/kactivitymanagerd/resources/test-backup/database-wal
.local/share/kactivitymanagerd/resources/working-backup/database
.local/share/kactivitymanagerd/resources/working-backup/database-shm
.local/share/kactivitymanagerd/resources/working-backup/database-wal
.local/share/kate/anonymous.katesession
.local/share/kded5/keyboard/session/layout_memory.xml
.local/share/klipper/history2.lst
.local/share/knewstuff3/sddmtheme.knsregistry
.local/share/knewstuff3/window-decorations.knsregistry
.local/share/kpeople/persondb
.local/share/krunnerstaterc
.local/share/kscreen/b8af24e5ad0873742f7f4dbc48317a1a
.local/share/kscreen/outputs/4debe8083b1e5560fdcd70c2d058a4e1
.local/share/ktp/cache.db
.local/share/kwalletd/kdewallet.kwl
.local/share/kwalletd/kdewallet.salt
.local/share/kwalletd/kdewallet_attributes.json
.local/share/recently-used.xbel
.local/share/telepathy/mission-control/accounts.cfg
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
