
.config/zsh/plugins/*
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.config/nvim/*
.config/ranger/*
.config/zsh/*
.cache/Homebrew/*
.cache/appstream/en_US-local-metainfo.xb
.cache/chromium/*
.config/chromium/*
.cache/discover/*
.cache/event-sound-cache.tdb.46162abaf1524d4094eb9f2a04e2e733.x86_64-pc-linux-gnu
.cache/fontconfig/*
.cache/icon-cache.kcache
.cache/kio_http/*
.cache/kitty/main.json
.cache/krunner/*
.cache/kscreenlocker_greet/*
.cache/ksmserver-logout-greeter/*
.cache/ksplash/*
.cache/ksycoca5_en_yIMF65Yz04TyU3FDr8n3pEYDc+E=
.cache/kwin/*
.cache/lvim/*
.cache/mesa_shader_cache/*
.cache/mozilla/firefox/*
.cache/nvidia/GLCache/*
.cache/nvim/packer.nvim.log
.cache/pip/*
.cache/plasma-svgelements
.cache/plasma_theme_Stone_v.0.2.kcache
.cache/plasmashell/*
.cache/qtshadercache-*
.cache/samba/gencache.tdb
.cache/thumbnails/*
.cargo/*
.cfg/*
.gnome/*
.mozilla/*
.npm/*
.pki/*
.rustup/*
.ssh/*
.vim/*
.viminfo
Desktop/*
Documents/*
Music/*
Pictures/*
Public/*
Templates/*
Videos/*
repos/*
.local/share/lunarvim/*
.local/share/nvim/*
# .local/share/*
.profile
.zsh_history
.zprofile
.local/lib/*
.gitconfig
.config/discord/*
.config/dconf/user
.config/dolphinrc
config/emaildefaults
.config/gwenviewrc
.config/htop/*
.config/kactivitymanagerd-statsrc
config/kactivitymanagerdrc
.config/katemetainfos
.gitconfig.gpg
.local/bin/*
Downloads/FiraCodeWindows/*
Downloads/KvGlass/*
.local/state/*
