[Desktop Entry]
Icon=image-jpeg
Name=Hoth Landscape Stormy Atmosphere of Merphlyn.jpg
Type=Link
URL[$e]=file:///WdBlack/Users/sshep/Downloads/Photos/UltraWide/Hoth Landscape Stormy Atmosphere of Merphlyn.jpg
X-KDE-LastOpenedWith=systemsettings
